* {
  background-color: blue;
}



button {
  border: 1px solid black;
  outline: none;
  padding: 0;
  color: white;
  font: inherit;
  cursor: pointer;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}