.board {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
}

.cell {
  border: 1px solid black;
  outline: none;
  color: white;
  padding: 0;
  font: inherit;
  cursor: pointer;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-0 {
  background-color: glay;
}

.player-1 {
  background-color: blue;
}

.player-2 {
  background-color: red;
}